@using Application.Library.Service;
@addTagHelper *, LazZiya.TagHelpers
@model ProductForAdminDto;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <p class="card-text">لیست محصولات</p>
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc">نام</th>
                                                    <th class="sorting_asc">دسته بندی</th>
                                                    <th class="sorting_asc">برند </th>
                                                    <th class="sorting_asc">قیمت </th>
                                                    <th class="sorting_asc">موجودی </th>
                                                    <th class="sorting_asc">نمایش در سایت؟ </th>
                                                    <th class="sorting_asc"> </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.Products)
                                                {
                                                    <tr role="row">
                                                        <td>@item.Name</td>
                                                        <td>@item.Category</td>
                                                        <td>@item.Brand</td>
                                                        <td>@item.Price.ToString("n0")</td>
                                                        <td>@item.Inventory</td>
                                                        <td>@(item.Displayed ? "فعال" : "غیر فعال")</td>
                                                        <td>
                                                            <a class="btn btn-danger">حذف</a>
                                                            <a href="~/admin/products/detail/@item.ID" class="btn btn-info">اطلاعات بیشتر</a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <paging total-records="Model.RowCount"
                                            page-no="Model.CurrentPage"
                                            page-size="Model.PageSize"
                                            show-prev-next="true"
                                            show-total-pages="false"
                                            show-total-records="false"
                                            show-page-size-nav="true"
                                            show-first-numbered-page="true"
                                            show-last-numbered-page="true"
                                            query-string-key-page-no="Page"
                                            query-string-key-page-size="PageSize"
                                            gap-size="2">
                                    </paging>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>>
