<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Web Blog - INTR</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    @Html.Partial("_Styles")
   
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    @Html.Partial("_Header")
    @Html.Partial("_Hero")
    @RenderBody()
    @Html.Partial("_Footer")
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    @Html.Partial("_Scripts")

</body>

</html>