@using Application.Library.Service;
@model CartDto;
@{
    Layout = null;
}

<div class="divider-space-card d-block">
    <div class="header-cart-basket">
        <a href="#" class="cart-basket-box">
            <span class="icon-cart">
                <i class="mdi mdi-cart"></i>
            </span>
            <span class="title-cart">سبد خرید</span>
            <span class="price-cart">
                @Model.SumAmount.ToString("n0")
                <span>تومان</span>
            </span>
            <span class="count-cart">@Model.ProductCount</span>
        </a>
        <div class="widget-shopping-cart">
            <div class="widget-shopping-cart-content">
                <ul class="product-list-widget">

                    @foreach (var item in Model.CartItems)
                    {
                        <li class="mini-cart-item">
                            <div class="mini-cart-item-content">
                                <a href="#" class="mini-cart-item-close">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a href="#" class="mini-cart-item-image d-block">
                                    <img src="~/@item.Images">
                                </a>
                                <span class="product-name-card">@item.Product</span>
                                <span class="quantity-Price-amount">
                                    @item.Price.ToString("n0")
                                    <span>تومان</span>
                                </span>
                            </div>
                        </li>
                    }
                </ul>
                <div class="mini-card-total">
                    <strong>قیمت کل : </strong>
                    <span class="price-total">
                        @Model.SumAmount
                        <span>تومان</span>
                    </span>
                </div>
                <div class="mini-card-button">
                    <a href="~/cart" class="view-card">مشاهده سبد خرید</a>
                    <a href="~/pay" class="card-checkout">تسویه حساب</a>
                </div>
            </div>
        </div>
    </div>
</div>

