@page
@model WebBlog.Pages.IndexModel
@{
    Layout = "_Layout";
}
<main id="main">

    @Html.Partial("_About_Section")

    @Html.Partial("_Fact_Section")
        
    @Html.Partial("_Skill_Section")

    @Html.Partial("_Resume_Section")

    @Html.Partial("_Portfolio_Section")

    @Html.Partial("_Services_Section")

    @Html.Partial("_Testimonials_Section")

    @Html.Partial("_Contact_Section")

</main><!-- End #main -->
