@{
    ViewData["Title"] = "Home Page";
    var roles =  ViewBag.Roles;
    var DataSource =  ViewBag.DatsSource;
    var Model =  ViewBag.Model;
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-6 p-3 bg-dark bg-gradient rounded-3 shadow">
            <div class="text-light rounded-2 text-center">
                <form class="d-flex flex-column justify-content-center align-items-center" asp-controller="Home" asp-action="Create" method="post">
                    <input type="text" name="Name" id="Name" class="input form-control rounded-5" placeholder="نام را وارد کنید ..." />
                    <input type="text" name="Family" id="Family" class="input form-control rounded-5" placeholder="فامیل را وارد کنید ..." />
                    <input type="text" name="Email" id="Email" class="input form-control rounded-5" placeholder="ایمیل را وارد کنید ..." />
                    <hr />
                    <input type="text" name="Username" id="Username" class="input form-control rounded-5" placeholder="نام کاربری را وارد کنید ..." />
                    <input type="password" name="Password" id="Password" class="input form-control rounded-5" placeholder="رمز کاربری را وارد کنید ..." />
                    <select name="RoleId" class="form-control input">
                        @foreach (var role in roles.Data)
                        {
                            <option class="form-control w-100" name="RoleId" value=@role.ID>@role.Title</option>
                        }
                    </select>
                    <input type="submit" name="submit" id="submit" class="btn-success bg-gradient form-control w-50" value="ثبت نام" />
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-10 w-100">
            <div class="table-container">
                <table class="table table-hover bg-dark bg-gradient text-light">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>نام</th>
                            <th>فامیل</th>
                            <th>ایمیل</th>
                            <th>نام کاربری</th>
                            <th>رمز کاربری</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in DataSource.Users)
                        {
                            <tr onclick="RowClicked(@row.ID)">
                                <td>@row.ID</td>
                                <td>@row.Name</td>
                                <td>@row.Family</td>
                                <td>@row.Email</td>
                                <td>@row.Username</td>
                                <td>@row.Password</td>
                                <td>
                                    <button class="btn btn-danger rounded-3" onclick="DeleteRow(@row.ID)">حذف</button>
                                    <button class="btn btn-warning rounded-3" onclick="UpdateRow(@row.ID)">ویرایش</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    const RowClicked = (id) => {
        console.log("Clicked : ", id);

    }
    const DeleteRow = (id) => {
        $.ajax({
            url: "/Home/Remove/" + id,
            type: "GET",
        }).done(function (res) {
            alert("با موفقیت حذف شد");
            console.log("Response Deleted : ", red);
        });
    }
    const UpdateRow = (id) => {
        console.log("Clicked : ", id);
        $.ajax({
            url: "/Comments/AddComment/" + id,
            type: "GET",
            data: {
                name: $("#name").val(),
                email: $("#email").val(),
                comment: $("#comment").val()
            }
        }).done(function (res) {
            $("#CommentList").html(res);
            $("#name").val("");
            $("#email").val("");
            $("#comment").val("");
        });
    }
</script>
<style>
    .input {
        background: rgba(0,0,0,0.5);
        color: white;
        border: 1px solid #0000;
        border-bottom: 1px solid #180;
        outline: none;
        margin: 0.3rem 0;
    }
</style>
