@{
    ViewData["Title"] = "Home Page";
    var roles =  ViewBag.Roles;
    var User =  ViewBag.User;
    var DataSource =  ViewBag.DatsSource;
    var Model =  ViewBag.Model;
    var Categories =  ViewBag.Categories;
}

<div class="container-fluid bg-dark text-center py-3">
    <div class="row d-flex flex-row justify-content-between">
        <div class="col-6 p-1">
            <form class="d-flex flex-row">
                <input type="text" placeholder="جستجو کنید ...." class="input-search" />
                <span>
                    <button class="btn btn-dark bg-gradient shadow text-light">جستجو</button>
                </span>
            </form>
        </div>
        <div class="col-6 p-1 d-flex flex-row justify-content-end">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-dark bg-gradient text-light m-2" href="@Url.Action("SignOut","Authentication")">خوش آمدید : @User.Identity.Name</a>
            }
            else
            {
                <a class="btn text-primary" href="@Url.Action("Signin","Authentication")">ورود</a>
                <button class="btn text-info">ثبت نام</button>
            }
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row mt-3">
        <div class="col-6 p-3">
            <div class="bg-dark bg-gradient shadow text-light rounded-2 text-center p-3">
                <form class="d-flex flex-column justify-content-center align-items-center" asp-controller="Home" asp-action="Create" method="post">
                    <input type="text" name="Name" id="Name" class="input form-control rounded-5" placeholder="نام را وارد کنید ..." />
                    <input type="text" name="Family" id="Family" class="input form-control rounded-5" placeholder="فامیل را وارد کنید ..." />
                    <input type="text" name="Email" id="Email" class="input form-control rounded-5" placeholder="ایمیل را وارد کنید ..." />
                    <hr />
                    <input type="text" name="Username" id="Username" class="input form-control rounded-5" placeholder="نام کاربری را وارد کنید ..." />
                    <input type="password" name="Password" id="Password" class="input form-control rounded-5" placeholder="رمز کاربری را وارد کنید ..." />
                    <select name="RoleId" class="form-control input">
                        @foreach (var role in roles.Data)
                        {
                            <option class="form-control w-100" name="RoleId" value=@role.ID>@role.Title</option>
                        }
                    </select>
                    <input type="submit" name="submit" id="submit" class="btn-success bg-gradient form-control w-50" value="ثبت نام" />
                </form>
            </div>
        </div>

        <div class="col-6 p-3">
            <div class="bg-dark bg-gradient shadow text-light rounded-2 text-center p-3">
                <form class="d-flex flex-column justify-content-center align-items-center" asp-controller="Category" asp-action="AddNewCategory" method="post">
                    <div>تعریف دسته بندی</div>
                    <input type="text" name="Name" id="Name" class="form-control input rounded-5" placeholder="نام زیر دسته را وارد کنید ... " />
                    <input type="submit" name="submit" id="submit" class="btn-success bg-gradient form-control w-50" value="ثبت نام" />
                </form>
                <hr />
                <form class="d-flex flex-column justify-content-center align-items-center" asp-controller="Category" asp-action="AddNewCategory" method="post">
                    <div>تعریف زیر دسته</div>
                    @if (Categories.Data.Count > 0)
                    {
                        <select name="ParentId" class="form-control input">
                            @foreach (var cate in Categories.Data)
                            {
                                <option class="form-control w-100" name="ParentId" value=@cate.ID>
                                    @cate.Name
                                </option>
                            }
                        </select>
                        <input type="text" name="Name" id="Name" class="form-control input rounded-5" placeholder="نام زیر دسته را وارد کنید ... " />
                    }
                    else
                    {
                        <div>خالی است</div>
                    }
                    <input type="submit" name="submit" id="submit" class="btn-success bg-gradient form-control w-50" value="ثبت نام" />
                </form>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-10 w-100">
            <div class="table-container">
                <table class="table table-hover bg-dark bg-gradient text-light">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>نام</th>
                            <th>فامیل</th>
                            <th>ایمیل</th>
                            <th>نام کاربری</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in DataSource.Users)
                        {
                            <tr onclick="RowClicked(@row.ID)">
                                <td>@row.ID</td>
                                <td>@row.Name</td>
                                <td>@row.Family</td>
                                <td>@row.Email</td>
                                <td>@row.Username</td>
                                <td>
                                    <button class="btn btn-danger rounded-3" onclick="DeleteRow(@row.ID)">حذف</button>
                                    <button class="btn btn-warning rounded-3" onclick="UpdateRow(@row.ID)">ویرایش</button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-10 w-100">
            <div class="table-container">
                <table class="table table-hover bg-dark bg-gradient text-light">
                    <thead>
                        <tr>
                            <th>کد</th>
                            <th>نام</th>
                            <th>والد</th>
                            <th><a href="@Url.Action("Index","Home")">عملیات</a></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var row in Categories.Data)
                        {
                            <tr role="row" class="odd">
                                <td>@row.ID</td>
                                <td>@row.Name</td>
                                <td>
                                    @{
                                        string parent = row.Parent != null ? row.Parent.Name : "-";
                                    }
                                    <text>
                                        @parent
                                    </text>
                                </td>
                                <td>
                                    @if (row.Parent == null)
                                    {
                                        <a href="@Url.Action("AddNewCategory","Category",new{
                                            ParentId = row.ID
                                        })" class="btn btn-dark shadow rounded-3 ">
                                            افزودن فرزند
                                        </a>
                                    }
                                    @if (row.HasChild == true)
                                    {
                                        <a href="@Url.Action("Index","Home",new{
                                            ParentId = row.ID
                                        })" class="btn btn-primary shadow rounded-3 ">
                                            نمایش فرزندان
                                        </a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<script>
    const RowClicked = (id) => {
        console.log("Clicked : ", id);

    }
    const DeleteRow = (id) => {
        $.ajax({
            url: "/Home/Remove/" + id,
            type: "GET",
        }).done(function (res) {
            alert("با موفقیت حذف شد");
            console.log("Response Deleted : ", red);
        });
    }
    const UpdateRow = (id) => {
        console.log("Clicked : ", id);
        $.ajax({
            url: "/Comments/AddComment/" + id,
            type: "GET",
            data: {
                name: $("#name").val(),
                email: $("#email").val(),
                comment: $("#comment").val()
            }
        }).done(function (res) {
            $("#CommentList").html(res);
            $("#name").val("");
            $("#email").val("");
            $("#comment").val("");
        });
    }
</script>
<style>
    .input {
        background: rgba(0,0,0,0.5);
        color: white;
        border: 1px solid #0000;
        border-bottom: 1px solid #180;
        outline: none;
        margin: 0.3rem 0;
    }
</style>
